.project
.classpath
.settings
.external*
target/
logfile
bin/
.idea/
*.iml
intelipost/commons/src/test/resources/*MessageResources*.properties
intelipost/web/src/test/resources/*MessageResources*.properties
reconciliation/src/assembly/MessageResources.properties
reconciliation/src/assembly/MessageResources_pt_BR.properties
reconciliation/src/main/resources/apilog_db.schema.version.properties
reconciliation/src/main/resources/error_db.schema.version.properties
reconciliation/src/main/resources/schema.version.properties
reconciliation/core/src/test/resources/uncompressed/**/*
/mock-server/.mvn/wrapper/maven-wrapper.jar
/mock-server/.mvn/wrapper/maven-wrapper.properties
/mock-server/mvnw
/mock-server/mvnw.cmd
/mock-server/.mvn/wrapper
dump.rdb
reconciliation/core/src/test/resources/uncompressed/a.txt
reconciliation/core/src/test/resources/uncompressed/a1.txt
reconciliation/core/src/test/resources/uncompressed/b.txt
reconciliation/core/src/test/resources/uncompressed/c.txt
reconciliation/core/src/test/resources/uncompressed/d.txt
